body{
    background-color: #FAFAFA;
    text-align: center;
    display: flex;
    color: #0072b1 ;
}

a{
    text-decoration: none;
    padding: 10px 15px;
    color: black;
    margin-top: 10px;
}

.pokemon-list{
    justify-content: center;
    flex-direction: row;
}

.pokemon-list img, .detail-pokemon img{
    height: 200px;
}

.detail-pokemon{
    width: 50%;
    margin: 0 auto;
}