body{
    background-color: #FAFAFA;
    text-align: center;
    /* display: flex; */
    color: #0072b1 ;
}


nav{
  float: left;
}

a{
    text-decoration: none;
    padding: 10px 15px;
    color: black;
    margin-top: 10px;
}

.pokemon-list{
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
}

.pokemon-list img, .detail-pokemon img{
    height: 200px;
}

.detail-pokemon{
    width: 50%;
    margin: 0 auto;
}

.moves-list{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.pokemon-group{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

hr{
    border-color: red;
}

.fa-trash-can button{
    border: none;
    background-color: white;
}