body{
    background-color: #FAFAFA;
    text-align: center;
    display: flex;
    color: #0072b1 ;
}

a{
    text-decoration: none;
    padding: 10px 15px;
    color: black;
}

.pokemon-list{
    justify-content: center;
    flex-direction: row;
}

.pokemon-list img, .detail_pokemon img{
    height: 150px;
}