<!-- At the top of the file  -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- in our html head tag add the following  -->
<link rel="stylesheet" href="{% static 'styles/style.css' %}" />
<script src="{% static 'scripts/app.js' %}" defer></script>
<script src="https://kit.fontawesome.com/a2ea15f2f7.js" crossorigin="anonymous"></script>
<link href="http://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
                

    <title>Pokemon - {% block title %}{% endblock %}</title>
</head>

<nav>
    <a href="/">Home</a>
    <a href="/pokemon/">Pokemon List</a>
    <a href="{% url 'pokemon_create' %}">Add Pokemon</a>
    <a href="">Add Group</a>
</nav>
<br/>
    {% block content%}{% endblock %}
</body>
</html>