{% extends 'base.html' %}
{% block title %}Home{% endblock  %}
{% block content %}
    <div class="pokemon-group">
        {% for group in groups %}
        <div class="group-name">
            <h3>{{group.name}}</h3>
            {% for pokemon in group.pokemons.all %}
            <div class="pokemon-name">
                <h4>{{pokemon.name}}</h4>
                <img src="{{pokemon.sprite}}" alt ="{{pokemon.name}}"/>
                <a href="{% url 'group_pokemon_assoc' group.pk pokemon.pk%}?assoc=remove"><i class="fa-solid fa-trash-can"></i></a>
            </div>
            {% endfor %}
        </div>
        <hr/>
        {% empty %}
        <h2>Add A Group!</h2>
        {% endfor %}
    </div>
{% endblock %}
        
